@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,400italic&subset=latin,cyrillic-ext);
.fotorama__arr {
  width: 28px;
  height: 44px;
  background: url("../img/Layer-48.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }
  .fotorama__arr--next {
    opacity: 1 !important;
    display: block !important;
    transform: none !important;
    right: 5%; }
  .fotorama__arr--prev {
    opacity: 1 !important;
    display: block !important;
    transform: none !important;
    background: url("../img/Layer-48-1.png");
    background-repeat: no-repeat;
    left: 5%;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
  .fotorama__arr--disabled {
    display: none !important;
    opacity: 0 !important; }

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 1; }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

.fotorama__nav-wrap {
  margin-top: -60px;
  height: 60px; }

.fotorama__dot {
  width: 10px;
  height: 10px;
  border: 1px solid #fff; }

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border: none;
  border: 1px solid #fff; }

.proj .fotorama__arr {
  margin-top: -50px;
  background: url("../img/Full-screen.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }
  .proj .fotorama__arr--prev {
    background: url("../img/Full-screen-l.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }

.fotorama__arr--prev .fotorama__arr--disabled {
  display: none !important; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  min-width: 1167px;
  font-family: "Roboto", sans-serif; }

.contain {
  width: 1137px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .contain:before, .contain:after {
    display: table;
    content: " "; }
  .contain:after {
    clear: both; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.navigation {
  float: right;
  display: block; }
  .navigation ul {
    list-style-type: none;
    padding: 0; }
    .navigation ul li {
      display: inline-block;
      padding-left: 45px; }
      .navigation ul li a {
        text-transform: uppercase;
        font-size: 13px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        color: #FFF; }

.footer .navigation {
  float: left; }
  .footer .navigation ul li a {
    color: #1D1F23; }

.pageHeader .navigation ul li a {
  color: #1D1F23; }

.header {
  display: block;
  position: absolute;
  z-index: 9;
  padding: 25px 0;
  float: left;
  width: 100%; }
  .header__logo, .pageHeader__logo, .footer__logo {
    display: block;
    float: left;
    width: 15%; }
    .header__logo img, .pageHeader__logo img, .footer__logo img {
      width: 100%; }
  .header__menu {
    display: block;
    float: right;
    width: 85%; }
    .header__menu__phone {
      display: block;
      float: right;
      width: 100%;
      text-align: right;
      color: #FFF; }
      .header__menu__phone-icon, .pageHeader__phone-icon, .footer__phone-icon {
        display: block;
        float: left;
        width: 21px;
        height: 20px;
        margin-right: 15px;
        background-image: url("../img/Layer-41.png");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: contain;
        -o-background-size: contain;
        background-size: contain; }
      .header__menu__phone h3 {
        display: block;
        float: right;
        font-size: 20px;
        margin-bottom: 5px; }
      .header__menu__phone p {
        display: block;
        float: right;
        font-size: 13px;
        margin: 0;
        width: 100%; }

.pageHeader {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding: 20px 0 0;
  margin: 0;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(185, 185, 185, 0.7);
  -moz-box-shadow: 0px 10px 5px 0px rgba(185, 185, 185, 0.7);
  box-shadow: 0px 10px 5px 0px rgba(185, 185, 185, 0.7); }
  .pageHeader__menu {
    display: block;
    float: left;
    width: 67%;
    position: relative;
    color: #1D1F23;
    padding: 0 55px; }
  .pageHeader__phone {
    display: block;
    float: left;
    width: 17%;
    color: #1D1F23; }
    .pageHeader__phone-icon {
      background-image: url("../img/Layer-64-1.png"); }
    .pageHeader__phone h3 {
      margin: 0;
      font-size: 19px;
      text-align: right; }
    .pageHeader__phone p {
      text-align: right;
      margin-top: 5px; }

.footer {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding: 25px 0; }
  .footer__menu {
    display: block;
    float: left;
    width: 67%;
    position: relative;
    color: #1D1F23;
    padding: 0 55px; }
  .footer__phone {
    display: block;
    float: left;
    width: 17%;
    color: #1D1F23; }
    .footer__phone-icon {
      background-image: url("../img/Layer-64-1.png"); }
    .footer__phone h3 {
      margin: 0;
      font-size: 19px;
      text-align: right; }
    .footer__phone p {
      text-align: right;
      margin-top: 5px; }

.first {
  width: 100%;
  display: block; }
  .first__onslide {
    display: block;
    width: 80%;
    margin: 220px auto; }
    .first__onslide h1 {
      color: #FFF;
      font-family: "Roboto Slab", serif;
      text-align: center;
      font-size: 43px;
      margin-bottom: 25px; }
    .first__onslide p {
      color: #FFF;
      font-size: 18px;
      margin-top: 15px;
      text-align: center;
      font-weight: 300; }
  .first__more {
    width: 158px;
    height: 50px;
    border: 2px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    margin: 90px auto 0;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
    .first__more:hover {
      text-decoration: none;
      color: gray;
      background: white; }

.serv {
  display: block;
  width: 100%;
  position: relative;
  background-color: #F7F5F0; }
  .serv__block {
    width: 70%;
    display: block;
    position: relative;
    margin: 50px auto;
    background-image: url("../img/Layer-57.png");
    background-repeat: no-repeat;
    background-position: 0 15px;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
    .serv__block h1 {
      font-family: "Roboto Slab", serif;
      text-align: center;
      font-size: 35px;
      margin: 0 0 10px; }
    .serv__block a {
      text-decoration: none;
      color: #1D1F23; }
      .serv__block a:hover {
        opacity: 0.9; }
    .serv__block--single {
      display: inline-block;
      width: 33%; }
      .serv__block--single img {
        display: block;
        width: 153px;
        height: 154px;
        margin: 0 auto 20px; }
      .serv__block--single p {
        text-align: center;
        font-size: 18px;
        font-weight: 600; }
    .serv__block--but, .about--but, .proj__block--text--but, .questions__block--sub {
      width: 158px;
      height: 50px;
      border: 2px solid #dd0027;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      color: #dd0027;
      font-family: "Roboto";
      font-size: 14px;
      display: block;
      margin: 85px auto 0;
      text-decoration: none;
      text-align: center;
      line-height: 50px;
      text-transform: uppercase;
      font-weight: 600;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; }
      .serv__block--but:hover, .about--but:hover, .proj__block--text--but:hover, .questions__block--sub:hover {
        text-decoration: none;
        color: #fff;
        background: #dd0027; }
    .serv__block--line {
      width: 48px;
      height: 2px;
      display: block;
      margin: 0 auto 45px;
      background-color: #1D1F23;
      border: 1px solid #555658; }

.geo {
  display: block;
  position: relative;
  padding: 85px 0;
  width: 100%;
  float: left;
  background-color: #24252F; }
  .geo__map {
    display: block;
    float: left;
    position: relative;
    width: 50%;
    height: 353px;
    background-image: url("../img/findcity.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: center; }
  .geo__text {
    display: block;
    float: left;
    position: relative;
    width: 50%;
    color: #fff; }
    .geo__text h1 {
      font-family: "Roboto Slab", serif;
      font-size: 32px;
      margin-top: 15px;
      margin-bottom: 25px; }
    .geo__text p {
      font-size: 18px;
      display: block;
      width: 70%;
      font-weight: 200;
      line-height: 30px; }
    .geo__text--but {
      width: 204px;
      height: 50px;
      border: 2px solid #fff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      margin: 50px 0;
      display: block;
      color: #FFF;
      font-size: 14px;
      text-align: center;
      line-height: 50px;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; }
      .geo__text--but:hover {
        text-decoration: none;
        color: gray;
        background: white; }

.adv {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding: 50px 0;
  background-color: #F7F5F0; }
  .adv h1 {
    font-family: "Roboto Slab", serif;
    text-align: center;
    font-size: 32px;
    margin: 0 0 10px;
    color: #1D1F23; }
  .adv__block {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    background-image: url("../img/Layer-8.png");
    background-repeat: no-repeat;
    background-position: 50% 35%;
    -webkit-background-size: 84%;
    -o-background-size: 84%;
    background-size: 84%;
    height: 250px;
    margin-bottom: 75px; }
    .adv__block--item1, .adv__block--item2, .adv__block--item3, .adv__block--item4 {
      width: 14%;
      display: block;
      float: left;
      position: absolute;
      left: 15px;
      bottom: 0; }
      .adv__block--item1 img, .adv__block--item2 img, .adv__block--item3 img, .adv__block--item4 img {
        width: 124px;
        height: 124px;
        display: block;
        margin: 0 auto; }
      .adv__block--item1 p, .adv__block--item2 p, .adv__block--item3 p, .adv__block--item4 p {
        text-align: center;
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 0;
        color: #1D1F23; }
    .adv__block--item2 {
      bottom: 70px;
      left: 315px; }
    .adv__block--item3 {
      bottom: 10px;
      left: 635px; }
    .adv__block--item4 {
      bottom: 70px;
      left: inherit;
      right: 15px; }

.about {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 50px 0;
  background-color: #F7F5F0; }
  .about h1 {
    font-family: "Roboto Slab", serif;
    text-align: center;
    font-size: 32px;
    margin: 0 0 10px;
    color: #1D1F23; }
  .about p {
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    display: block;
    width: 82%;
    margin: 0 auto;
    color: #1D1F23; }
  .about--but {
    margin-top: 50px; }

.proj {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding: 50px 0 25px; }
  .proj h1 {
    font-family: "Roboto Slab", serif;
    text-align: center;
    font-size: 32px;
    margin: 0 0 10px;
    color: #1D1F23; }
  .proj__block {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    height: 320px; }
    .proj__block--text {
      display: block;
      float: left;
      width: 45%;
      position: relative; }
      .proj__block--text img {
        max-width: 25%; }
      .proj__block--text p {
        font-size: 18px;
        color: #1c1e22;
        margin-top: 50px;
        padding-right: 145px; }
      .proj__block--text--but {
        margin-top: 50px;
        width: 139px;
        margin-left: 0; }
    .proj__block--img {
      display: block;
      float: left;
      width: 55%;
      position: relative; }
      .proj__block--img--box {
        width: 95%;
        display: block;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        height: 285px;
        -webkit-box-shadow: 0px 15px 15px 0px rgba(185, 185, 185, 0.85);
        -moz-box-shadow: 0px 15px 15px 0px rgba(185, 185, 185, 0.85);
        box-shadow: 0px 15px 15px 0px rgba(185, 185, 185, 0.85); }
        .proj__block--img--box img {
          width: 100%;
          height: auto;
          overflow: hidden;
          position: relative; }

.trust {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  padding: 50px 0; }
  .trust__block {
    width: 130px;
    height: 130px;
    line-height: 112px;
    display: block;
    float: left;
    margin: 16px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #f7f5ef;
    padding-right: 5px; }
    .trust__block img {
      max-width: 115px;
      width: auto;
      height: auto; }
    .trust__block:before {
      content: "";
      display: inline-block;
      min-height: inherit;
      height: 100%;
      vertical-align: middle; }
  .trust h1 {
    font-family: "Roboto Slab", serif;
    text-align: center;
    font-size: 32px;
    margin: 0 0 10px;
    color: #1D1F23; }

.questions {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 50px 0 130px; }
  .questions h1 {
    font-family: "Roboto Slab", serif;
    text-align: center;
    font-size: 32px;
    margin: 0 0 10px;
    color: #1D1F23; }
  .questions__block {
    width: 96%;
    height: 212px;
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: #F7F5F0;
    padding: 30px;
    -webkit-box-shadow: 0px 15px 15px 0px rgba(185, 185, 185, 0.5);
    -moz-box-shadow: 0px 15px 15px 0px rgba(185, 185, 185, 0.5);
    box-shadow: 0px 15px 15px 0px rgba(185, 185, 185, 0.5); }
    .questions__block--inp {
      margin-left: 15px;
      width: 95%;
      margin: 0 auto 22px;
      height: 65px;
      display: block;
      float: left;
      padding-left: 15px;
      border: 1px solid rgba(196, 196, 196, 0.3);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      color: #1D1F23;
      font-weight: 200;
      font-size: 18px; }
      .questions__block--inp:last-of-type {
        margin-bottom: 0; }
    .questions__block--txt {
      display: block;
      width: 95%;
      padding-left: 15px;
      padding-top: 15px;
      font-size: 18px;
      height: 152px;
      margin: 0 auto;
      color: #1D1F23;
      font-weight: 200;
      border: 1px solid rgba(196, 196, 196, 0.3);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      resize: none; }
    .questions__block--sub {
      bottom: -55px;
      position: relative;
      background: rgba(255, 255, 255, 0); }
    .questions__block--left, .questions__block--right {
      display: block;
      float: left;
      width: 50%; }

.page {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  padding: 50px 0; }
  .page__side {
    display: block;
    float: left;
    position: relative;
    width: 22%; }
  .page__content {
    display: block;
    float: left;
    width: 78%;
    position: relative;
    padding: 0 0 0 35px; }
    .page__content h1, .page__content h2, .page__content h3, .page__content h4 {
      font-family: "Roboto Slab", serif;
      margin-top: 0;
      margin-bottom: 15px; }
    .page__content h2 {
      font-size: 28px; }
    .page__content p {
      font-size: 18px;
      margin: 15px 0; }
    .page__content ul {
      list-style-image: url("../img/Ellipse-1.png");
      padding: 0 0 0 15px; }
      .page__content ul li {
        margin: 15px 0 15px 5px;
        font-size: 18px;
        padding-left: 15px; }
        .page__content ul li:before {
          color: #B2B2B2; }

.sidebar {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px 15px 5px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #df0027; }
  .sidebar ul {
    padding: 0; }
    .sidebar ul a {
      text-decoration: none; }
      .sidebar ul a li {
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        border-bottom: 1px solid #E94D69;
        padding: 10px 5px; }
        .sidebar ul a li:hover {
          color: #bfbfbf; }
      .sidebar ul a:last-of-type li {
        border-bottom: none; }

/*# sourceMappingURL=style.css.map */
