@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,400italic&subset=latin,cyrillic-ext);
.fotorama__arr {
  width: 28px;
  height: 44px;
  background: url("../img/Layer-48.png");
  background-repeat: no-repeat; }
  .fotorama__arr--next {
    opacity: 1 !important;
    display: block !important;
    transform: none !important;
    right: 5%; }
  .fotorama__arr--prev {
    opacity: 1 !important;
    display: block !important;
    transform: none !important;
    background: url("../img/Layer-48-1.png");
    left: 5%; }

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 1; }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

.fotorama__nav-wrap {
  margin-top: -60px;
  height: 60px; }

.fotorama__dot {
  width: 10px;
  height: 10px;
  border: 1px solid #fff; }

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border: none;
  border: 1px solid #fff; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  min-width: 1167px;
  font-family: "Roboto", sans-serif; }

.contain {
  width: 1137px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .contain:before, .contain:after {
    display: table;
    content: " "; }
  .contain:after {
    clear: both; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.navigation {
  float: right;
  display: block; }
  .navigation ul {
    list-style-type: none;
    padding: 0; }
    .navigation ul li {
      display: inline-block;
      padding-left: 45px; }
      .navigation ul li a {
        text-transform: uppercase;
        font-size: 13px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        color: #FFF; }

.header {
  display: block;
  position: absolute;
  z-index: 9;
  padding: 25px 0;
  float: left;
  width: 100%; }
  .header__logo {
    display: block;
    float: left;
    width: 15%; }
    .header__logo img {
      width: 100%; }
  .header__menu {
    display: block;
    float: right;
    width: 85%; }
    .header__menu__phone {
      display: block;
      float: right;
      width: 100%;
      text-align: right;
      color: #FFF; }
      .header__menu__phone-icon {
        display: block;
        float: left;
        width: 21px;
        height: 20px;
        margin-right: 15px;
        background-image: url("../img/Layer-41.png");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: contain;
        -o-background-size: contain;
        background-size: contain; }
      .header__menu__phone h3 {
        display: block;
        float: right;
        font-size: 20px;
        margin-bottom: 5px; }
      .header__menu__phone p {
        display: block;
        float: right;
        font-size: 13px;
        margin: 0;
        width: 100%; }

.first {
  width: 100%;
  display: block; }
  .first__onslide {
    display: block;
    width: 80%;
    margin: 220px auto; }
    .first__onslide h1 {
      color: #FFF;
      font-family: "Roboto Slab", serif;
      text-align: center;
      font-size: 43px;
      margin-bottom: 25px; }
    .first__onslide p {
      color: #FFF;
      font-size: 18px;
      margin-top: 15px;
      text-align: center;
      font-weight: 300; }
  .first__more {
    width: 158px;
    height: 50px;
    border: 2px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    margin: 90px auto 0;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
    .first__more:hover {
      text-decoration: none;
      color: gray;
      background: white; }

.serv {
  display: block;
  width: 100%;
  position: relative;
  background-color: #F7F5F0; }
  .serv__block {
    width: 70%;
    display: block;
    position: relative;
    margin: 50px auto;
    background-image: url("../img/Layer-57.png");
    background-repeat: no-repeat;
    background-position: 0 15px;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
    .serv__block h1 {
      font-family: "Roboto Slab", serif;
      text-align: center;
      font-size: 35px;
      margin: 0 0 10px; }
    .serv__block--single {
      display: inline-block;
      width: 33%; }
      .serv__block--single img {
        display: block;
        width: 153px;
        height: 154px;
        margin: 0 auto 20px; }
      .serv__block--single p {
        text-align: center;
        font-size: 18px;
        font-weight: 600; }
    .serv__block--but {
      width: 158px;
      height: 50px;
      border: 2px solid #dd0027;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      color: #dd0027;
      font-family: "Roboto";
      font-size: 14px;
      display: block;
      margin: 85px auto 0;
      text-decoration: none;
      text-align: center;
      line-height: 50px;
      text-transform: uppercase;
      font-weight: 600;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; }
      .serv__block--but:hover {
        text-decoration: none;
        color: #fff;
        background: #dd0027; }
    .serv__block--line {
      width: 48px;
      height: 5px;
      display: block;
      margin: 0 auto 45px;
      background-color: #1D1F23;
      border: 1px solid #555658; }

.geo {
  display: block;
  position: relative;
  padding: 85px 0;
  width: 100%;
  float: left;
  background-color: #24252F; }
  .geo__map {
    display: block;
    float: left;
    position: relative;
    width: 50%;
    height: 353px;
    background-image: url("../img/findcity.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: center; }
  .geo__text {
    display: block;
    float: left;
    position: relative;
    width: 50%;
    color: #fff; }
    .geo__text h1 {
      font-family: "Roboto Slab", serif;
      font-size: 32px;
      margin-top: 15px;
      margin-bottom: 25px; }
    .geo__text p {
      font-size: 18px;
      display: block;
      width: 70%;
      font-weight: 200;
      line-height: 30px; }
    .geo__text--but {
      width: 204px;
      height: 50px;
      border: 2px solid #fff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      margin: 50px 0;
      display: block;
      color: #FFF;
      font-size: 14px;
      text-align: center;
      line-height: 50px;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; }
      .geo__text--but:hover {
        text-decoration: none;
        color: gray;
        background: white; }

.adv {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding: 50px 0;
  background-color: #F7F5F0; }
  .adv h1 {
    font-family: "Roboto Slab", serif;
    text-align: center;
    font-size: 32px;
    margin: 0 0 10px; }
  .adv__block {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    background-image: url("../img/Layer-8.png");
    background-repeat: no-repeat;
    background-position: 50% 35%;
    height: 250px;
    margin-bottom: 75px; }
    .adv__block--item1, .adv__block--item2, .adv__block--item3, .adv__block--item4 {
      width: 14%;
      display: block;
      float: left;
      position: absolute;
      left: 15px;
      bottom: 0; }
      .adv__block--item1 img, .adv__block--item2 img, .adv__block--item3 img, .adv__block--item4 img {
        width: 124px;
        height: 124px;
        display: block;
        margin: 0 auto; }
      .adv__block--item1 p, .adv__block--item2 p, .adv__block--item3 p, .adv__block--item4 p {
        text-align: center;
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 0; }
    .adv__block--item2 {
      bottom: 70px;
      left: 315px; }
    .adv__block--item3 {
      bottom: 10px;
      left: 635px; }
    .adv__block--item4 {
      bottom: 70px;
      left: inherit;
      right: 15px; }

/*# sourceMappingURL=style.css.map */
