.header  {
	display: block;
	position: absolute;
	z-index: 9;
	padding: 25px 0;
	float: left;
	width: 100%;
	&__logo {
		display: block;
		float: left;
		width: 15%;
		img {
			width: 100%;
		}
	}
	&__menu {
		display: block;
		float: right;
		width: 85%;
		&__phone {
			display: block;
			float: right;
			width: 100%;
			text-align: right;
			color: #FFF;
			&-icon {
				display: block;
				float: left;
				width: 21px;
				height: 20px;
				margin-right: 15px;
				background-image: url("../img/Layer-41.png");
				background-repeat: no-repeat;
				background-position: center;
				-webkit-background-size: contain;
				     -o-background-size: contain;
				        background-size: contain;				
			}
			h3 {
				display: block;
				float: right;					
				font-size: 20px;
				margin-bottom: 5px;
			}
			p {
				display: block;
				float: right;
				font-size: 13px;
				margin: 0;
				width: 100%;
			}
		}
	}
}

.pageHeader {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	padding: 20px 0 0;
	margin: 0;
	-webkit-box-shadow: 0px 10px 5px 0px rgba(185, 185, 185, 0.7);
	-moz-box-shadow:    0px 10px 5px 0px rgba(185, 185, 185, 0.7);
	box-shadow:         0px 10px 5px 0px rgba(185, 185, 185, 0.7);
	&__logo {
		@extend .header__logo;
	}
	&__menu{
		display: block;
		float: left;
		width: 67%;
		position: relative;
		color: #1D1F23;
		padding: 0 55px;
	}
	&__phone {
		display: block;
		float: left;
		width: 17%;
		color: #1D1F23;
		&-icon {
			@extend .header__menu__phone-icon;
			background-image: url("../img/Layer-64-1.png");
		}
		h3 {
			margin: 0;
			font-size: 19px;
			text-align: right;
		}
		p {
			text-align: right;
			margin-top: 5px;
		}
	}
}