.navigation {
	float: right;
	display: block;
	ul {
		list-style-type: none;
		padding: 0;
		li {
			display: inline-block;
			padding-left: 45px;
			a {
				text-transform: uppercase;
				font-size: 13px;
				font-family: $rob;
				font-weight: bold;
				color: #FFF;
			}
			ul {
				display: none;
			}
			&:hover > ul {
				display: block;
				background: #dd0027;
				position: absolute;
				padding: 10px;
				margin-top: 5px;
				z-index: 9;
				li {
					display: block;
					padding: 10px 5px;
					font-size: 13px;
					font-weight: 200;
				}	
				&:after {
					content: ''; 
					position: absolute; /* Абсолютное позиционирование */
					left: 40px; 
					top: -20px; /* Положение треугольника */
					border: 10px solid transparent; /* Прозрачные границы */
					border-bottom: 10px solid #dd0027; /* Добавляем треугольник */
				}			
			}			
		}
	}
}

.footer {
	.navigation {
		float: left;
		ul {
			li {				
				a {
					color: #1D1F23;
				}
				&:hover > ul {
				    bottom: 45px;
					&:after {
						content: '';
						position: absolute;
						left: 40px;
						top: inherit;
						bottom: -20px;
						border: 10px solid transparent;
						border-top: 10px solid #dd0027;
						border-bottom: 10px solid transparent;
					}							    
				} 
				ul {
					li {
						a {
							color: #FFF;
						}
					}
				}				
			}
		}
	}
}

.pageHeader {
	.navigation {
		ul {
			li {
				a {
					color: #1D1F23;
				}
				ul {
					li {
						a {
							color: #FFF;
						}
					}
				}
			}
		}
	}
}

