@media only screen and (min-width: 1500px) {
	.page-content {
		#map {
			min-height: 80vh;
		}
	}
	.footer {
		padding: 50px 0;
	}
}

@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 770px) {
	
}

@media only screen and (max-width: 736px) {
	
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	
}