.first {
	width: 100%;
	display: block; 
	&__onslide {
		display: block;
		width: 80%;
		margin: 220px auto;
		h1 {
			color: #FFF;
			font-family: $slab;
			text-align: center;
			font-size: 43px;
			margin-bottom: 25px;
		}
		p {
			color: #FFF;
			font-size: 18px;
			margin-top: 15px;
			text-align: center;
			font-weight: 300;
		}
	}
	&__more {
		width: 158px;
		height: 50px;
		border: 2px solid #fff;
		@include border-radius(2px);
		@include background-clip(padding-box);
		display: block;
		margin: 90px auto 0;
		color: #FFF;
		text-transform: uppercase;
		font-size: 14px;
		text-align: center;
		text-decoration: none;
		line-height: 50px;
		@include transition(0.5s);
		&:hover {
			text-decoration: none;
			color: darken(#fff, 50%);
			background: rgba(255, 255, 255, 1);
		}
	}
}

.serv {
	display: block;
	width: 100%;
	position: relative;
	background-color: #F7F5F0;
	&__block {
		width: 70%;
		display: block;
		position: relative;
		margin: 50px auto;
		background-image: url("../img/Layer-57.png");
		background-repeat: no-repeat;
		background-position: 0 15px;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		h1 {
			font-family: $slab;
			text-align: center;
			font-size: 35px;
			margin: 0 0 10px;
		}
		&--single {
			display: inline-block;
			width: 33%;
			img {
				display: block;
				width: 153px;
				height: 154px;
				margin: 0 auto 20px;
			}
			p {
				text-align: center;
				font-size: 18px;
				font-weight: 600;
			}
		}

		&--but {
			width: 158px;
			height: 50px;
			border: 2px solid #dd0027;
			@include border-radius(2px);
			@include background-clip(padding-box);
			color: #dd0027;
			font-family: "Roboto";
			font-size: 14px;
			display: block;
			margin: 85px auto 0;
			text-decoration: none;
			text-align: center;
			line-height: 50px;
			text-transform: uppercase;
			font-weight: 600;
			@include transition(0.5s);
			&:hover {
				text-decoration: none;
				color: #fff;
				background: #dd0027;
			}
		}
		&--line {
			width: 48px;
			height: 5px;
			display: block;
			margin: 0 auto 45px;
			background-color: #1D1F23;
			border: 1px solid #555658;
		}
	}
}

.geo {
	display: block;
	position: relative;
	padding: 85px 0;
	width: 100%;
	float: left;
	background-color: #24252F;
	&__map {
		display: block;
		float: left;
		position: relative;
		width: 50%;
		height: 353px;
		background-image: url("../img/findcity.png");
		background-repeat: no-repeat;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		background-position: center;
	}
	&__text {
		display: block;
		float: left;
		position: relative;
		width: 50%;
		color: #fff;
		h1 {
			font-family: $slab;
			font-size: 32px;
			margin-top: 15px;
			margin-bottom: 25px;
		}
		p {
			font-size: 18px;
			display: block;
			width: 70%;
			font-weight: 200;
			line-height: 30px;
		}
		&--but {
			width: 204px;
			height: 50px;
			border: 2px solid #fff;
			@include border-radius(2px);
			@include background-clip(padding-box);
			margin: 50px 0;
			display: block;
			color: #FFF;
			font-size: 14px;
			text-align: center;
			line-height: 50px;
			@include transition(0.5s);
			&:hover {
				text-decoration: none;
				color: darken(#fff, 50%);
				background: rgba(255, 255, 255, 1);
			}
		}
	}
}

.adv {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	padding: 50px 0;
	background-color: #F7F5F0;
	h1 {
		font-family: $slab;
		text-align: center;
		font-size: 32px;
		margin: 0 0 10px;
		color: #1D1F23;
	}
	&__block {
		display: block;
		float: left;
		width: 100%;
		position: relative;
		background-image: url("../img/Layer-8.png");
		background-repeat: no-repeat;
		background-position: 50% 35%;
		height: 250px;
		margin-bottom: 75px;
		&--item1 {
			width: 14%;
			display: block;
			float: left;
			position: absolute;
			left: 15px;
			bottom: 0;
			img {
				width: 124px;
				height: 124px;
				display: block;
				margin: 0 auto;
			}
			p {
				text-align: center;
				font-size: 14px;
				font-weight: 200;
				margin-bottom: 0;
				color: #1D1F23;
			}
		}
		&--item2 {
			@extend .adv__block--item1;
			bottom: 70px;
			left: 315px;
		}
		&--item3 {
			@extend .adv__block--item1;
			bottom: 10px;
			left: 635px;
		}
		&--item4 {
			@extend .adv__block--item1;
			bottom: 70px;
			left: inherit;
			right: 15px;
		}
	}
}

.about {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 50px 0;
	background-color: #F7F5F0;
	h1 {
		font-family: $slab;
		text-align: center;
		font-size: 32px;
		margin: 0 0 10px;
		color: #1D1F23;
	}
	p {
		font-weight: 200;
		font-size: 18px;
		text-align: center;
		display: block;
		width: 82%;
		margin: 0 auto;
		color: #1D1F23;
	}
	&--but {
		@extend .serv__block--but;
		margin-top: 50px;
	}
}