.page-content {
	h3 {
		font-family: $big;
		text: #1d1f23 uppercase 80px;
	}
	h4 {
		font-family: $big;
		text: #1d1f23 uppercase 50px;
	}
	p {
		text: #1d1f23 24px;
	}
}


.page{
	&__nav {
		float: left;
		width: 100%;
		display: block;
		margin: 35px 0;
		&_back {
			float: left;
			padding-left: 30px;
			text: #1d1f23 24px;
			text-decoration: underline;
			position: relative;
			&:hover, &:focus {
				color: #DE0028;
			}
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				-webkit-transform: translateY(-50%);
				   -moz-transform: translateY(-50%);
				    -ms-transform: translateY(-50%);
				     -o-transform: translateY(-50%);
				        transform: translateY(-50%);
				border-right: 7px solid #1d1f23;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
			}
		}
	}
	&__infographics {
		margin: 35px auto 50px;
		float: left;
		width: 100%;
		img {
			width: 100%;
		}
	}

	&-projects {
		margin: 25px 0;
		&__categories {
			float: left;
			width: 100%;
			margin: 25px 0 50px;
			padding-left: 0;
			li {
				display: block;
				float: left;
				margin-right: 25px;
				a {
					text: #1d1f23 24px;
					text-decoration: underline;
					@include transition(.3s);
					&:hover, &:focus {
						color: #DE0028;
						text-decoration: none;
					}
				}
			}
		}
		&__item {
			float: left;
			width: 100%;
			margin-bottom: 25px;
			position: relative;
			&:nth-of-type(even) {
				.page-projects__item_thumb {
					float: right;
				}
			}
			&:hover {
				.page-projects__item_thumb {
					img {
						@include transition(.4s);
						-webkit-transform: translate(-50%, -50%) scale(1.1);
						   -moz-transform: translate(-50%, -50%) scale(1.1);
						    -ms-transform: translate(-50%, -50%) scale(1.1);
						     -o-transform: translate(-50%, -50%) scale(1.1);
						        transform: translate(-50%, -50%) scale(1.1);
					}
				}
			}
			&_thumb {
				float: left;
				width: 50%;
				height: 375px;
				@include overflow-img;
				position: relative;
				img {
					@include transition(.4s);
				}
			}
			&_text {
				float: left;
				width: 50%;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
			    padding: 25px;
				p {
					text: #1d1f23 30px;
				}
			}
			&_title {
				float: left;
				width: 100%;
				font-family: $b;
				text: #1d1f23 30px;
				text-decoration: underline;
				margin-bottom: 25px;
				&:hover, &:focus {
					color: #DE0028;
				}
			}
		}
		&_reload {
			display: block;
			margin: 25px auto;
			size: 45px;
			background-image: url('../img/Forma-1.png');
			background-repeat: no-repeat;
			background-position: 50%;
			-webkit-background-size: contain;
						     -o-background-size: contain;
						        background-size: contain;
			@include transition(.4s);
			&:hover {
				-webkit-transform: rotate(360deg);
				   -moz-transform: rotate(360deg);
				    -ms-transform: rotate(360deg);
				     -o-transform: rotate(360deg);
				        transform: rotate(360deg);
			}			
		}
		&_more {
			display: block;
			margin: 25px 0;
			text-align: center;
			font-family: $b;
			text: #1d1f23 30px;
			text-decoration: underline;
			&:hover, &:focus {
				color: #DE0028;
			}
		}
	}

	&-presscenter {
		@extend .page-projects;
		&__wrap {
			display: flex;
			width: 100%;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
		}
		&__time {
			-webkit-flex-basis: 15%;
			        flex-basis: 15%;
		    width: 15%;
		    padding: 20px;
		    -webkit-box-sizing: border-box;
		       -moz-box-sizing: border-box;
		            box-sizing: border-box;
		    background-color: #FFF;
		    ul {
		    	padding: 0;
		    	li {
		    		margin-bottom: 15px;
		    		a {
		    			text: #1d1f23 24px;
						text-decoration: underline;
						margin-bottom: 25px;
						&:hover, &:focus {
							color: #DE0028;
							text-decoration: none;
						}
		    		}
		    	}
		    }
		}
		&__content {
			-webkit-flex-basis: 80%;
			        flex-basis: 80%;
		    width: 80%;
		    
		}
		&__item {
			margin-bottom: 25px;
			&:hover {
				.page-presscenter__item_thumb {
					img {
						@include transition(.4s);
						-webkit-transform: translate(-50%, -50%) scale(1.05);
						   -moz-transform: translate(-50%, -50%) scale(1.05);
						    -ms-transform: translate(-50%, -50%) scale(1.05);
						     -o-transform: translate(-50%, -50%) scale(1.05);
						        transform: translate(-50%, -50%) scale(1.05);
					}
				}
			}
			&_date {
				display: block;
				float: left;
				width: 100%;
				text: #a4a4a4 24px;
				margin-bottom: 25px;
			}
			&_thumb {
				float: left;
				width: 100%;
				height: 400px;
				margin: 15px 0 25px;
				@include overflow-img;
				img {
					max-width: 120%;
					@include transition(.4s);
				}
			}
		}
	}
	&-single{
		&__content{
			float: left;
			width: 100%;
			h5 {
				font-family: $b;
				text: #1d1f23 30px; 
				text-transform: none;
			}
		}
		&__thumb {
			float: left;
			width: 100%;
			margin: 15px 0 25px;
			@include overflow-img;
			height: 500px;
			img {
				max-width: 125%;
			}
		}
		&__other {
			float: left;
			width: 100%;
			margin: 25px 0;
			&_item {
				float: left;
				width: 50%;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				padding-right: 50px;
				margin: 25px 0;
			}
		}
	}
}
