html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #fff;
	min-width: 1167px;
	font-family: $rob;
}

body {
	overflow: hidden;
}

.contain {
	width: 1167px - 30px;
	display: block;
	margin: 0 auto;
	position: relative;
	&:before,
	&:after{		
		display: table;
  		content: " ";
	}
	&:after{
		clear: both;
	}
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    margin-top: 50px;
}

span.wpcf7-not-valid-tip {
    display: none;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    margin-top: 50px;
}

.wpcf7-form {
	p {
		display: block;
		margin: 0px auto;
		float: left;
		width: 100%;
	}
}