body {
	font-family: $l;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #f6f5f4;
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.block_title {
	color: #fff;
    font-size: 3.5em;
	text-align: center;
	margin-top: 15px;	
}

.p0  {
	padding: 0;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

h1, h2, h3, h4 {
	font-family: $big;
}

p, a {
	font-family: $l;
}

b, strong {

	font-family: $b;
}

.line {
	float: left;
	width: 100%;
	text-align: center;
}

%clearfix {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	&:before, &:after {		 
	    content: "";
	    display: table;
	}
	&:after {
	    clear: both;
	} 
} 


