.icon {
	display: inline-block;
	size: 24px 16px;
	background-image: url('../img/arrows-sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	&-arrow {
		&-left {
			background-position: 0;
		}
		&-right {
		    background-position: -78px;
		}
	}
}


ul.page-pagination {
	float: left;
	width: 100%;
	padding-left: 0;
	margin: 25px 0;
	li {
		display: inline-block;
		margin-right: 15px;	
		size: 47px;	
		text-align: center;
		position: relative;
		line-height: 50px;
		border: 2px solid transparent;
		a {
			text: #1d1f23 24px 45px;
			padding-top: 2px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding: 5px 0 0 0;
			display: block;
			height: 100%;
			width: 100%;
			text-align: center;
			background: none;
			border: none;
			float: none;
			font-family: $b;
			vertical-align: middle;
			&:hover, &:focus {
				text-decoration: none;
				color: #DE0028;
				span.icon-arrow-left {
					background-position: -26px;
				}
				span.icon-arrow-right {
					background-position: -52px;
				}
			} 
			
		}
		&:hover {
			border-color: #de0028;
		}
		&.active {
			border-color: #de0028;
			a {
				color: #DE0028;
			}
		}
	}
}